<!DOCTYPE html>
<html>
  <head>
    <title>Zendesk Ticket Viewer</title>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    <h1>Zendesk Ticket Viewer</h1>
    <p>Welcome to Zendesk Ticket Viewer</p>
  </body>
</html>